.app-img {
  background-repeat: no-repeat;
}

.app-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-page {
  width: 1382px;
  margin: 0 auto;
}

.app-full-img {
  width: 100%;
  height: 100%;
}

.app-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  .center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
  }
}

/* chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* 火狐浏览器 */
input[type="number"] {
  -moz-appearance: textfield;
}

.app-btn {
  background: #0A7BF5;
  color: white;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  text-align: center;
}

// 字号类
.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-38 {
  font-size: 38px;
}

.color-1F73F1 {
  color: #1F73F1;
}

.color-323232 {
  color: #323232;
}

.color-353535 {
  color: #353535;
}

.color-848484 {
  color: #848484;
}

.color-949494 {
  color: #949494;
}

.color-0076FF {
  color: #0076FF;
}

.color-1B1B1B {
  color: #1B1B1B;
}

.color-7E7E7E {
  color: #7E7E7E;
}

.color-818181 {
  color: #818181;
}

.color-4C4C4C {
  color: #4C4C4C;
}

.color-4D4D4D {
  color: #4D4D4D;
}

/* 覆盖nprogress样式 */
#nprogress .bar {
  background: #0078FF;
}

#nprogress .peg {
  box-shadow: 0 0 10px #0078FF, 0 0 5px #0078FF;
}

#nprogress .spinner-icon {
  border-top-color: #0078FF;
  border-left-color: #0078FF;
}

.el-pagination__total,
.el-pagination__jump {
  color: #919191;
}

.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
  background: #0B78FE;
}

.el-cascader-node .el-checkbox {
  margin-right: 0;
}

.el-image .image-slot {
  background-color: #f5f7fa;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .el-icon {
    color: #b7b7b7;
    font-size: 20px;
  }
}