@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'nprogress/nprogress.css';
@import "swiper/css";
@import "swiper/css/pagination";
@import 'element-plus/dist/index.css';
@import './app.scss';
@import './variable.scss';

html {
  line-height: 1;
}

body {
  background-color: #f3f3f3;
  font-family: PingFang SC;
  font-size: 14px;
}